// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:         #27ae60;

//navbar
@navbar-default-bg:     #683913;
@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #eee;
@navbar-default-link-active-color: #eee;
